.animate__animated.animate__bounceIn{
    --animate-duration: 1s !important;
    
}
.animate__delay-0-7s{
    --animate-delay: 0.7s !important;
}

.animate__delay-2-5s{
    --animate-delay: 3s !important;
}